<h3 style="background-color: darkcyan;"><hr></hr><b>Update User Details</b><hr></hr></h3>
<form autocomplete="off" action="/insertuser" method="POST">
{{#each data}}
    Name :<input type="text" name="uname" placeholder="UserName" value={{this.s_name}}><br><br>
    date of birth :<input type="date" name="udob" placeholder="yyyy-mm-dd" value={{this.s_dob}}><br><br>
    Gender:<select name="ugender">
         <option value="{{this.s_gender}}">{{this.s_gender}} </option>
        <option value="Male">Male </option>
        <option value="Female">Female </option>
    </select><br><br>

    Email:<input type="email" name="uemail" placeholder="Useremail" value={{this.s_email}}><br><br>
    Country:<select name="ucountry">
        <option value="{{this.s_country}}">{{this.s_country}}</option>
        <option value="India">India </option>
        <option value="America">America </option>
        <option value="Austrialia">Austrialia </option>
        <option value="England">England </option>
    </select>
    State:<select name="ustate">
        <option value="{{this.s_state}}">{{this.s_state}} </option>
        <option value="Karnataka">Karnataka </option>
        <option value="Maharastra">Maharastra </option>
        <option value="tamil nadu">tamil nadu</option>
        <option value="Goa">Goa </option>
        <option value="kerala">kerala</option> </option>
        <option value="Andra">Andra</option>
        <option value="Orissa">Orissa</option>
        <option value="Bihar">Bihar </option>
    </select><br><br>
    District:<select name="udistrict">
        <option value="{{this.s_district}}">{{this.s_district}}</option>
        <option value="Bangaluru">Bangaluru </option>
        <option value="Tumkuru">Tumkuru </option>
        <option value="Mysore">Mysore </option>
        <option value="gadag">gadag </option>
    </select>
    post:<input type="number" name="upin" placeholder="postal-pin" value={{this.s_postal}}><br><br>
    Password<input type="password" name="upasswd" value={{this.s_password}}>
    Retype password<input type="password" name="urpasswd" value={{this.s_password}}><br><br>
    <input type="hidden" name="flg" value={{this.s_id}}><br><br>
    <input type="submit">
 {{/each}}  
</form>